@import url('https://fonts.googleapis.com/css?family=Heebo');
*{
     margin: 0;
     padding: 0;
     font-family: 'Heebo', sans-serif;
}
 body{
     background-color: #eee;
}
 .b-details{
     background-color: #fff;
}
 .smally{
     font-size: 2vh;
     position: absolute;
     top:110%;
     right: 0;
}
 .book-item{
     width: 28vh;
     height: 45vh;
     margin: 2vh;
     position: relative;
     background: linear-gradient(90deg,#ddd ,#eee) ;
     color:#212121;
     font-size: 2vh;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
 .shelf-container,.section{
     margin: 0px;
     padding: 0px;
}
 #root{
     font-family: Helvetica;
}
 .shelf-header{
     background-color: #263238;
     margin: 0px;
     color: #eee;
     font-size: 4vh;
     padding: 10px;
}
 .landing-header{
     margin: 0px;
     padding: 0px;
     text-align: center;
     height: 10vh;
}
 .absol{
     position: relative;
}
 .potato{
     width: 100%;
     height: 35vh;
     z-index: -1;
     cursor: pointer;
}
 .butt{
     width: 7vh;
     position: absolute;
     top:85%;
     left: 85%;
     height: 7vh;
     background-color: #4DB6AC;
     color:black;
     border-radius: 100%;
     border: 2px solid white;
}
 .shelf-body{
     height: 100%;
     background-color: #eee;
     display: flex;
     flex-wrap: wrap;
     padding: 10vh;
     margin: 0px;
     overflow-x: scroll;
}
 .modal-details-text{
     font-size: 1.8vh;
}
 .header{
     background: linear-gradient(45deg,#21313a,#263238);
     margin: 0;
     padding:5vh;
     font-size: 6vh;
     color:white;
     margin-bottom: 2vh;
}
 footer{
     height: 20vh;
     width: 100%;
     background: linear-gradient(45deg,#263238,#212121);
}
 .book-links div{
     background-color: #777;
     text-align: center;
     border: 0.1px solid white;
     transition: all 0.5s;
}
 .book-links div:hover{
     background-color: #000;
}
 .book-links div a{
     color:white;
     display: block;
}
 .floatingButt{
     width: 10vh;
     height: 10vh;
     background-color: salmon;
     position: fixed;
     text-align: center;
     border-radius: 100%;
     top:80%;
     z-index: 99;
     box-shadow: 0px 2px 5px #666;
     left:85%;
}
 .thumbImage{
     height: 10vh;
}
 .back{
     font-size: 6vh;
}
 .floatingButt span{
     position: relative;
     font-size: 5vh;
     top:14%;
     color:white;
     cursor: pointer;
}
 .moar-head{
     display: flex;
}
 .foo{
     background-color: #FFB300;
}
 .model{
     width: 57vh;
}
 .modal-header{
     font-size: 3vh;
}
 .modal-footer{
     text-align: right;
     font-size: 1.5vh;
}
 .myPreloader{
     position: absolute;
     top: 60%;
     left: 47%;
}
 .main-footer{
     font-size: 1.5vh;
     color: white;
}
